.highlight {
  position: relative;
}

.highlight::before {
  /* Highlight color */
  background-color: #00e3fc;

  content: '';
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

.highlight::after {
    /* Highlight color */
    background-color: #39b27caf;
  
    content: '';
    position: absolute;
    width: calc(100% + 4px);
    height: 80%;
    left: -2px;
    bottom: 0.5px;
    z-index: -1;
    transform: rotate(5deg);
  }


  .element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .element.active {
    opacity: 1;
    transform: translateY(0);
  }