:root {
  --overlay-color: #525252cc;
}

[data-theme='dark'] {
  --overlay-color: #000000cc;
}

.project-card {
  position: relative;
  overflow: hidden;
  transform-origin: bottom;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
    filter 0.5s ease-out;

  img {
    transform: scale(1.1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
      filter 0.5s ease-out;
  }

  .overlay-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 0;
    background-color: var(--overlay-color);
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); /* Change 'height' to 'max-height' */
  }

  .overlay {
    padding: 16px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }

  &:hover {
    img {
      transform: scale(1);
      filter: blur(2px);
    }
  }

  &:hover .overlay-container {
    max-height: 100%;
  }

  &:hover .overlay {
    transform: translateY(0);
  }
}

.icon {
  z-index: 1; /* Ensure the icon is above the hexagon */
}

.loading-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hexagon {
  -webkit-clip-path: polygon(
    25% 5%,
    75% 5%,
    100% 50%,
    75% 95%,
    25% 95%,
    0% 50%
  );
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  background-color: #424242;
}

.hexagon2 {
  -webkit-clip-path: polygon(
    25% 5%,
    75% 5%,
    100% 50%,
    75% 95%,
    25% 95%,
    0% 50%
  );
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}
