
.badge-hexagon {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #4a90e2; /* Adjust the color as needed */
    color: #ffffff; /* Adjust the text color as needed */
    border-radius: 6px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  
  .flipper {
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: -moz-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: -ms-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .flipped .flipper {
    transform: rotateY(180deg);
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  
  