.sidebar {
  z-index: 10 !important;
}

/* .menu_text {
    -webkit-transition: text-shadow 0.3s linear;
    -moz-transition: text-shadow 0.3s linear;
    -ms-transition: text-shadow 0.3s linear;
    -o-transition: text-shadow 0.3s linear;
    transition: text-shadow 0.3s linear;
  }
  
  .menu_text:hover,
  .menu_text.glow {
    text-shadow: 0 0 10px rgb(104, 215, 255);
  } */