@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

:root {
  --background-color: #f6f6f6;
  --foreground-color: #929292;
  --primary-text-color: #333; /* Adjusted to a dark gray for better readability */
  --secondary-text-color: #ffffff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}

[data-theme='dark'] {
  --background-color: #0a0a0a;
  --foreground-color: #929292;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #333; /* Adjusted to a dark gray for better readability */
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}
