.custom-scroll,
.custom-scroll-small {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #2d3748;
}

.custom-scroll::-webkit-scrollbar,
.custom-scroll-small::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb,
.custom-scroll-small::-webkit-scrollbar-thumb {
  background-color: #4a5568;
}

.custom-scroll::-webkit-scrollbar-track,
.custom-scroll-small::-webkit-scrollbar-track {
  background-color: #c4dce0;
}

[data-theme='dark'] .custom-scroll::-webkit-scrollbar-track,
[data-theme='dark'] .custom-scroll-small::-webkit-scrollbar-track {
  background-color: var(--toggle-bg);
}

[data-theme='dark'] .custom-scroll::-webkit-scrollbar-thumb,
[data-theme='dark'] .custom-scroll-small::-webkit-scrollbar-thumb {
  background-color: var(--toggle-fg);
}

.custom-scroll-small {
  scrollbar-width: thin;
}

.custom-scroll-small::-webkit-scrollbar {
  width: 2px;
}
