/* For Firefox */
.custom-scroll,
.custom-scroll-small {
  scrollbar-width: thin;
  scrollbar-color: var(--toggle-fg) var(--toggle-bg);
}

.custom-scroll::-webkit-scrollbar,
.custom-scroll-small::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb,
.custom-scroll-small::-webkit-scrollbar-thumb {
  background-color: #4a5568;
}

.custom-scroll::-webkit-scrollbar-track,
.custom-scroll-small::-webkit-scrollbar-track {
  background-color: #c4dce0;
}

[data-theme='dark'] .custom-scroll::-webkit-scrollbar-track,
[data-theme='dark'] .custom-scroll-small::-webkit-scrollbar-track {
  background-color: var(--toggle-bg);
}

[data-theme='dark'] .custom-scroll::-webkit-scrollbar-thumb,
[data-theme='dark'] .custom-scroll-small::-webkit-scrollbar-thumb {
  background-color: var(--toggle-fg);
}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
.custom-scroll-small {
  scrollbar-width: thin;
}

.custom-scroll-small::-webkit-scrollbar {
  width: 2px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
    transform 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
    transform 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.page {
  * {
    font-family: 'Inconsolata', monospace;
  }
}
